
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url('https://fonts.googleapis.com/css?family=Dosis|Indie+Flower|Philosopher:700|Righteous');
@import url('https://fonts.googleapis.com/css?family=Gravitas+One|Oleo+Script+Swash+Caps:700|Spicy+Rice');

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";



// Custom CSS //
body {
  padding-bottom: 5%;
}

p {
  font-size: 14px;
}



// Panel
.custom_panel_heading {
  font-size: 1.2em;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  color: darkred;
}

.custom_panel_body p {
  font-size: 1.0em;
  font-family: "Raleway", sans-serif;
}

.custom_panel_body p span {
  font-weight: 800;
  color: $red;
}

.custom_panel_body strong {
  font-weight: 800;
  color: $red;
}


.custom_panel_body ul {
  font-size: 1.0em;
  font-family: "Raleway", sans-serif;
  list-style: square;
  margin-left: 15px;
  padding-left: 15px;
}

.custom_panel_body img {
  padding: 20px;
}






// Jumbotron
.custom_jumbotron p {
  font-size: 1.5em;
  font-family: "Raleway", sans-serif;
  color: white;
}

.custom_jumbotron h1 {
  font-family: $font-family-spicy;
  color: $body-bg;
  font-size: 3.5em;
  text-shadow: 3px 3px darkorange;
}

.custom_jumbotron {
  //background-color: $panel-default-heading-bg;
  background: url("../images/coffeebeans.jpg") no-repeat center center;
  border: 2px solid $laravel-border-color;
  font-family: $font-family-philosopher;
  color: $red;
  background-size: cover;
  text-align: center;
}







// Footer
.customFooter {
  background-color: $brand-info;
  text-align: center;
  border: 1px solid darken($brand-info, 50%);
  padding-top: 15px;
  font-size: 1.1em;
  padding-bottom: 15px;
}

.customFooter ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.customFooter li {
  display: inline;
}


// Custom Nav
.navbar-brand {
  font-family: $font-family-philosopher;
  font-size: large;
}